@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import "Buttons.css";
h2{
  margin :0;
  padding-top:9vh;
}
html{
  scroll-behavior: smooth;
}
.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.page{
  height: 100vh;
}
.page.home{

  background-color:rgb(255, 235, 224);
}

.page.projects{
  background-color:rgb(123, 202, 193);
}

.page.about{
  background-color:rgb(255, 235, 224);
}
.page.contact{
  background-color:rgb(123, 202, 193);
}
.nav{
  background-color:transparent;
  padding: 2rem;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.nav{
  display: flex;
  justify-content:space-between;
  max-width: 90%;
  margin: auto;
}

.nav .contents{
  display: flex;
  justify-content:space-between;

}
.logo a{
  color: rgb(255, 197, 166);
  font-weight: bold;
  font-size: 2em;
  float:left;
  text-align: left;
  margin-left: 2rem;
}

.greeting{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 3em;
  max-width: 50%;
  margin: 0 15%;
  padding-top :5%
}
.greeting h2 {
  color: rgb(0, 0, 0);
}

