.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em transparent;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    color : black;
    background-color: transparent;
    text-align:center;
    transition: all 0.2s;
    font-size: 1em;
  }button:hover{
    color : rgb(0, 0, 0);
    background-color : transparent;
  }
  @media all and (max-width:30em){
     button{
      display:block;
      margin:0.4em auto;
    }
  }
 
  .button.home{
    animation-delay:0.07s
  }
  .button.projects{
    animation-delay:0.14s
  }
  .button.about{
    animation-delay:0.21s
  }
  .button.contact{
    animation-delay:0.28s
  }
  a{
    text-decoration: none;
  }
  .button:focus { outline: none; }

  .toggle-button{
    padding-top: .75rem;
    position: absolute;
    right : 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  
  .toggle-button .bar{
   height: 3px;
   width: 100%;
   background-color : black;
   border-radius:10px;
   display: none;
  }
  .toggle-button:hover > .bar{
      background-color :black;
  }

