.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em transparent;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    color : rgb(139, 101, 80);
    background-color: transparent;
    text-align:center;
    transition: all 0.2s;
    font-size: 1em;
  }button:hover{
    color : rgb(0, 0, 0);
    background-color : transparent;
  }@media all and (max-width:30em){
     button{
      display:block;
      margin:0.4em auto;
    }
  }
  .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
  }
  .button.home{
    animation-delay:0.07s
  }
  .button.projects{
    animation-delay:0.14s
  }
  .button.about{
    animation-delay:0.21s
  }
  .button.contact{
    animation-delay:0.28s
  }
  a{
    text-decoration: none;
  }

  .toggle-button{
    padding-top: .75rem;
    position: absolute;
    right : 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  
  .toggle-button .bar{
   height: 3px;
   width: 100%;
   background-color : rgb(0, 0, 0);
   border-radius:10px;
   display: none;
  }
  .toggle-button:hover > .bar{
      background-color : rgb(255, 144, 85);
  }

  .nav-buttons{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .button:hover{
    font-size: 1.5em;
  }

  @media(max-width: 900px){
    .toggle-button .bar{
      display: flex;
    }
    .nav-buttons{
      padding-top: 3rem;
      flex-direction:column;
      align-items: flex-end;
    }
    .nav-buttons .button{
      border-color: transparent;
    }
    .contents{
      display:flex;
      justify-content:space-between;
      align-items: flex-start;
    }
    .nav-buttons.active{
      display: flex;
    }
  }