.contact-form{
    display: flex;
    align-items: center;
    flex-direction:column;
    margin :auto;
  }
  #contact-form{
    margin-top:10%;
    display: flex;
    align-items: center;
    flex-direction:column;
    height: 300px;
    justify-content:space-between;
    transition: all 4s ease-in-out;
    background-color: transparent;
    padding : 40px;
    border-radius:10px;
    border: 5px solid white;
    animation: float 6s ease-in-out infinite;
    position:relative;
    box-shadow: 1px 2px 9px;
    width :30%;
  } 
  @media(max-width: 1100px){
    #contact-form{
      width :80%;
      margin-top: 30%;
      padding: 10px;
    }
    .contact-form input{
      width:90%
    }
  }
  .contact-form input{
    align-items: center;
    justify-content:space-between;
    border-radius:10px;
    height: 30px;
    background-color:  rgb(187, 171, 163,0.3);
    border-color: transparent;
    border-width:1px;
    font-size: 20px;
    outline: none;
    color: rgb(0, 0, 0);
    width:90%;
    padding: 1%;
  }

  
  .form-control{
    width: 90%;
    align-items: center;
    resize: none;
    border-radius:10px;
    height: 100px;
    line-height: 20px;
    border-color: transparent;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(187, 171, 163,0.3);
    padding: 1%;
  }
  
  #submit{
    max-width: 80%;
    padding-bottom: 10%;
    align-items: center;
    background-color: transparent;
  }
  #submit:hover{
    color: rgb(71, 71, 71);
  }

  @media(max-width: 800px){
    #contact-form{
      margin-top: 30%;
    }
  }

  @media(max-width: 600px){
    #contact-form{
      margin-top: 50%;
    }
  }

  @media(max-height: 400px){
    #contact-form{
        display:none;
    }
    .Socials{
      margin-top: 10%;
    }
}

.contact-form >p{
  font-weight: bold;
  color: white;
}
.contact-form >p:hover{
  color: rgb(188, 92, 251);
  transition: all 0.4s;
}