
.homePage{
    font-family: 'Roboto', sans-serif;
    align-items:center;
    font-size: 5em;
    display:flex;
    max-width: 70%;
    margin: auto;
    padding-top: 10%;
    transition: all 4s ease-in-out;
}
.homePage h2 {
    display: flex;
    margin-top: -5%;
    color: rgb(0, 0, 0);
    position:relative;
    text-align: left;
    z-index: 1;
} 
.image-cropper{
    width: 500px;
    min-width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
    transition: all 4s ease-in-out;
    position:relative;
    border: 5px white solid;
    margin-left: 10%;
}

.homePage .connor{
    transition: all 4s ease-in-out;
    display: inline;
    margin-left: -15%;
    height: 115%;
    width: 115%;
    object-fit: cover;
    position:relative;
}

  
  
@media(max-width: 1400px){
    .homePage .image-cropper{
        margin-left: -20%;
    }
}

@media(max-width: 1200px){
    .homePage{
        font-size: 3em;
        padding-top: 20%;
    }
    .homePage .image-cropper{
        width :300px;
        min-width: 300px;
        height: 300px;
        margin-left: 10%;
    }
}

@media(max-width: 900px){
    .homePage{
        font-size: 3em;
    }
    .homePage .image-cropper{
        margin-left: -20%;
    }
}

@media(max-width: 700px){
    .homePage{
        font-size: 3em;
        flex-direction: column;
        padding-top: 15% ;
        max-width: 100%;
    }
    .homePage .image-cropper{
        margin: 100%;
        margin: auto;
        margin-top: 30px;
    }
    .homePage h2 {
        display: flex;
        text-align: left;
        margin: 100%;
        margin: auto;     
    }
    .toProjects{
        transform: translatey(-50px);
    }
}
@media(max-width: 500px){
    .homePage{
        font-size: 2.5em;
        padding-top: 25% ;
    }
    .toProjects{
        transform: translatey(-55px);
    }
    .nav-buttons{
        background-color: white;
        border-radius: 10px;
        background-color:rgba(225, 225, 225,0.5)
    }
    .homePage .image-cropper{
        margin-top:4%;
    }
}

@media(max-height: 500px){
    .homePage{
        padding-top: 20% ;
        margin-bottom: -5%;
        margin-left: 20%;
    }
    .homePage .image-cropper{
        width :200px;
        min-width: 200px;
        height: 200px;
        margin-left: 5%;
    }
    .homePage h2 {
        font-size: 1em;     
    }
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.toProjects{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toProjects button{ 
    align-items: center;
    padding:0.35em 1.2em;
    border:4px solid transparent;
    margin:0 0.3em 0.3em 0;
    border-radius:0em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    color :black;
    background-color: transparent;
    text-align:center;
    font-size: 1.5em;
    transition: all 0.2s;
}
.toProjects button:hover{
    color: rgb(68, 68, 68);
}

.toProjects img{
    transform: translatey(-10px);
    box-shadow: none;
}
.toProjects button:focus {
    outline: none;
}

@keyframes moveArrow {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}