.nav-buttons .button{

    color: rgb(42, 64, 85);
  }
  .nav-buttons .button:hover{
    color: rgb(92, 130, 167);
  }

  .nav{
    background-color:transparent;
    padding: 2rem;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    right:0;
    width: 600px; /* Full width */
  }
  .nav{
    display: flex;
    max-width: 90%;
    margin: auto;
    z-index: 2; /*bring to front */
  }
  
  .nav .contents{
    display: flex;
  }

  
  .logo{
    color: rgb(42, 64, 85);
    font-weight: bold;
    font-size: 2em;
    float:left;
    text-align: left;
    position: fixed; /* Set the navbar to fixed position */
    top: 2rem; /* Position the navbar at the top of the page */
    left:2rem;
    z-index: 3; /*bring to front */
    color: rgb(42, 64, 85);
  }
  .nav-buttons .button.resume{
    border: 1px solid rgb(42, 64, 85);
    border-radius:10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }.nav-buttons .button.resume:hover{
    background-color:  rgb(42, 64, 85);
    color: rgb(255, 255, 255);
  }

  @media(max-width: 800px){
    .toggle-button .bar{
      display: flex;
    }
    .nav-buttons{
      padding-top: 3rem;
      flex-direction:column;
      align-items: flex-end;
      background-color: rgb(129, 129, 129,0.2);
      border-radius:10px;
    }
    .nav-buttons .button{
      border-color: transparent;
    }
    .contents{
      position: fixed; /* Set the navbar to fixed position */
      top: 2rem; /* Position the navbar at the top of the page */
      left:2rem;
    }
    .nav{
      max-width: 100px;
    }
    .nav-buttons{
      margin-left:-20px;
    }

    .nav-buttons .button.resume{
        border: 1px solid transparent;
      }.nav-buttons .button.resume:hover{
        background-color:  transparent;
        color: rgb(129, 129, 129);
      }
  }

  @media(max-width:500px){
    .logo a{
      margin-left: 2rem;
    }
  }