.page .projects{
    height: 150vh;
    background-color: #9cb2d6;
    scroll-snap-align: start;
    background-image: url("background01flipped.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size:cover;
  }

#proj{
    padding-top: 100px;
    align-items: center;
}

.grid-projects{
    justify-content: space-evenly;
    max-width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    background-color: transparent;
    padding: 50px;
    grid-template-columns: 300px 300px 300px;
}

.grid-projects > div {
    animation: float 6s ease-in-out infinite;
    transition: all 0.2s;
    border: 5px solid white;
    background-color: #fcebe0;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    height :300px;
    width: 300px;
}.grid-projects > div:hover{
    background-color: #ffffff;
}

.hideProject{
    display: none;
}
.grid-projects > .p1{
    background-color: #fcf7e0;
}
.grid-projects > .p2{
    animation-delay:1s;
    background-color: #effce0;
}
.grid-projects > .p3{
    animation-delay:2s;
    background-color: #e0fcef;
}
.grid-projects > .p4{
    animation-delay:1s;
    background-color: #e0effc;
;}
.grid-projects > .p5{
    animation-delay:2s;
    background-color: #efe0fc;
}
.grid-projects > .p6{
    animation-delay:3s;
    background-color: #fce0ed;
}

.tinkerCad{
    z-index:1;
    position: fixed;
    bottom: 0;
    top:0;
    left: 0;
    right:0;
    transform: translatey(20%);
    margin:auto;
}
.tinkerCad .game{
    background-color: white;
    padding-top: -2px;
}

.tinkerCad .button{
    border: 2px solid black;
    background-color: white ;
}
.grid-projects .button{
    border: 2px solid black;
    font-size: 1rem;
}
.grid-projects .button:hover{
    color: white;

    background-color: black;
    font-size: 1rem;
}

.grid-projects a{
    color: black;
    font-size: 1rem;
}
p2{
    font-size: 1rem;
}

@media(max-width: 500px){
    .page .projects{
        height: 300vh;
    }
    .grid-projects{
        display: block;
        align-items: center;
        margin-left: 0px;
        
    }
    .grid-projects > div {
        animation: none;
        margin-bottom: 10%;
    }
}