
#proj{
    align-items: center;
    padding-top:100px;
}

.grid-projects{
    justify-content: space-evenly;
    max-width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    background-color: transparent;
    padding: 50px;
    grid-template-columns: 300px 300px 300px;
}

.grid-projects > div {
    transition: all 0.2s;
    border: 5px solid white;
    background-color: #fcebe0;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    height :300px;
    width: 300px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); 
}.grid-projects > div:hover{
    animation: float 3s ease-in-out infinite;
    border: 5px solid rgb(109, 109, 109);
}

.hideProject{
    display: none;
}
.grid-projects > .GOL{
    background-color: #fce0e0;
}
.grid-projects > .ATP{
    background-color: #fcf0e0;
}
.grid-projects > .pWeb{
    background-color: #fbfce0;
}
.grid-projects > .WP{
    background-color: #edfce0;
;}
.grid-projects > .AG{
    background-color: #e2fce0;
}
.grid-projects > .ideaPi{
    background-color: #e0fcfb;
}
.grid-projects > .TP{
    background-color: #e0e6fc;
}

.grid-projects > .webS{
    background-color: #fae0fc;
}

.grid-projects > .p9{
    background-color: #f3e0fc;
}

.display-proj{
    z-index:1;
    position: fixed;
    bottom: 0;
    top:0;
    left: 0;
    right:0;
    transform: translatey(20%);
    margin:auto;
}
.tinkerCad .game{
    background-color: white;
    padding-top: -2px;
}

.AppPrototype .prototype{
    background-color: white;
    padding-top: -2px;
}
.AppPrototype .button{
    background-color: transparent ;
    border-radius: 50px;
}
.tinkerCad .button{
    background-color: transparent ;
    border-radius: 50px;
}
.portfolio .webSite{
    background-color: white ;
}
.portfolio .button{
    background-color: transparent ;
    border-radius: 50px;
}
.grid-projects .button{
    border: 2px solid black;
    font-size: 1rem;
}
.grid-projects .button:hover{
    color: white;

    background-color: black;
    font-size: 1rem;
}

.grid-projects a{
    padding: 5px;
    color: black;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}

p2{
    font-size: 1rem;
}

.page #proj.projects-container.hide{
    height: 100vh;
}
.page #proj.projects-container.show{
    height: 130vh;
}

@media(max-width: 1100px){
    .grid-projects{
        grid-template-columns: auto auto;
    }
    .page #proj.projects-container.hide{
        height: 180vh;
        background-size:100%  270vh;
        background-position:0 -100vh;
        min-height: 1100px;
    }
    .page #proj.projects-container.show{
        height: 230vh;
        background-size:100%  270vh;
        background-position:0 -100vh;
        min-height: 1100px;
    }
    .page #home{
        background-size:100%  320vh;
    }
}

@media(max-width: 700px){
    .grid-projects{
        grid-template-columns: auto;
    }
    .page #proj.projects-container.hide{
        height: 330vh;
        background-size:100%  420vh;
        background-position:0 -90vh;
        min-height: 2200px;
    }
    .page #proj.projects-container.show{
        height: 430vh;
        background-size:100%  420vh;
        background-position:0 -90vh;
        min-height: 2200px;
    }
    .page #home{
        background-size:100%  470vh;
    }
}


@media(max-width: 500px){
    .page .projects-container{
        height: 330vh;
    }
    .grid-projects > div {
        animation: none;
        margin-bottom: 10%;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); 
    }
    .page #proj.projects-container.hide{
        height: 330vh;
        background-size:100%  470vh;
        background-position:0 -90vh;
        min-height: 2200px;
    }
    .page #proj.projects-container.show{
        height: 400vh;
        background-size:100%  470vh;
        background-position:0 -90vh;
        min-height: 2200px;
    }
    .page #home{
        background-size:100%  520vh;
    }
    .grid-projects{
        grid-gap: 0px;
    }
}

@media(max-height:500px){
    .page #proj{
        padding-top: -20px;
    }
    .grid-projects {
        transform: scale(0.8, 0.8);
    }

}

.describe#des{
    display:none;
    position: fixed;
    z-index: 2;
    height :100px;
    width:250px;
    border: 5px solid rgb(255, 255, 255);
    background-color:rgb(255, 255, 255,0.9);
    border-radius: 5px;
    transition: all 0s;
    animation: none;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

#des >p{
    font-size: 0.7rem;
   text-align: left;
   font-weight: bold;
   max-width: 90%;
   margin: auto;
}

#g-proj:hover #des{
        display:flex;
        transition: all 0s;
}

.projects-container .button{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 2px solid black;
    font-size: 1rem;
}
.projects-container .button:hover{
    color: white;

    background-color: black;
    font-size: 1rem;
}

